
button{
    width: 5rem;
    height: 5rem;
}

.estilos_letra {
    font-size: 3rem;
    color: aliceblue;
    text-align: center;
    width: 50%;
    padding: 3rem;
}

.naranjo {
    background-color: chocolate;
}

.celeste {
    background-color: aqua;
}

